@media only screen and (max-width: 767px) {

    .home-content {
        flex-direction: column;
    }
    .slider-content {
        width: 100%;
    }

    
  }

.home {
    height: 413px;
    margin-top: 100px;
}

.home-content {
    display: flex;
    justify-content: space-between;
}

.home-info {
    margin-top: 30px;
    max-width: 660px;
}

.home-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}

.home-text {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.home-action-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #DB522A;
    border-radius: 5px;
    width: 207px;
    height: 52px;
    cursor: pointer;
}

.home-action {
    padding-right: 8px;
}

.home-actions {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

input.home-action-input {
    border: 1px solid #CBD5E1;
    width: 220px;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

input.home-action-input::placeholder {
    color: #94A3B8;
}

.home-slider {
    display: flex;
    flex-direction: column;
}

.slider-buttons {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider-button-active {
    margin-right: 8px;
    height: 8px;
    width: 20px;
    background-color: #DB522A;
    border-radius: 6px;
}

.slider-button {
    margin-right: 8px;
    height: 8px;
    width: 8px;
    background-color: #CBD5E1;
    border-radius: 50%;
}

.slider-content {
    height: 390px;
    max-width: 100%;
    border-radius: 10px;
}