.home {
    margin-top: 100px;
}

.home-content {
    display: flex;
    justify-content: center;
}

.home-info {
    margin-top: 30px;
    max-width: 700px;
    text-align: center;
}

.home-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}

.home-text {
    padding-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.home-action-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 16px;
    color: white;
    background-color: #DB522A;
    border-radius: 5px;
    width: 207px;
    height: 52px;
    cursor: pointer;
}

.home-actions {
    display: flex;
    justify-content: space-between;
}

.home-actions {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

input.home-action-input {
    border: 1px solid #CBD5E1;
    min-width: 220px;
    border-radius: 5px;
    padding: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

input.home-action-input::placeholder {
    color: #94A3B8;
}

/* .slide {
    display: none;
} */

/* .slider-buttons {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider-button-active {
    margin-right: 8px;
    height: 8px;
    width: 20px;
    background-color: #DB522A;
    border-radius: 6px;
}

.slider-button {
    margin-right: 8px;
    height: 8px;
    width: 8px;
    background-color: #CBD5E1;
    border-radius: 50%;
} */

/* .home-slider {
    max-width: 550px;
    max-height: 382px;
} */

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide {
    max-width: 550px;
    height: 382px;
}

.slider-content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

img {    
    object-fit: cover;
}

@media only screen and (max-width: 767px) {

    .home-content {
        flex-direction: column;
    }

    .slider-content {
        width: 100%;
    }

    .home-text {
        padding-top: 16px;
    }

    .home-actions {
        margin-top: 16px;
        flex-direction: column;
        gap: 5px;
        padding: 10px 0;
    }

    .home-action {
        width: 100%;
    }

    .home {
        margin-top: 50px;
    }

    .home-action-btn {
        margin: 24px 0;
    }

    .home-info {
        margin-top: 30px;
    }

    .slide {
        height: 260px;
    }

}