.price_table-info {
    padding-top: 100px;
}

.price_table-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    padding-bottom: 12px;
    border-bottom: 6px solid;
    max-width: 308px;
}

.price_table {
    table-layout: fixed;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #CBD5E1;
    border-collapse: collapse;
}

.price_table-td {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.price_table-th {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: left;
    width: 50%;
}

.price_table-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #081F32;
    padding-top: 50px;
    padding-bottom: 10px;
}


@media only screen and (max-width: 767px) {

    .price_table-th {
        font-size: 20px;
    }
}